@import 'styles/breakpoints';
@import 'styles/variables';


.botao {
    color: $dark;
    transition: all .5s;
    font-weight: 700;
    font-size: 1.2em;
    margin-right: .5em;
    @media (max-width: $desktop_xsm) {
        padding: 0;
        margin-bottom: 0;
        
    }
}
.botao:hover {
    transform: scale(1.1);
    border-bottom: 1px solid $dark;
}