@import 'styles/variables';

.botao {
    background-color: $dark;
    border-radius: 5px;
    padding: 1em .5em;
    color: $wite;
    box-shadow: 1px 2px 3px $shadow;
    transition: all .5s;
}
.botao:hover {
    box-shadow: 0px 2px 10px 1px $shadow;
    color: $light-grey;
    transform: scale(1.1);
    border-bottom: 1px solid $dark;
}