.menu {
    display: flex;
    justify-content: flex-end;
    grid-column: 10 / span 2;
    &__list {
        display: flex;
        &__item {
            list-style: none;
            margin-left: 2em;
        }
    }
}
