@import 'styles/variables';
@import 'styles/breakpoints';

.formContainer {
    background-color: $background;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 2rem;
    max-width: 1366px;
    margin: 2em auto 3em;
    @media (max-width: $desktop_xsm) {
        grid-template-columns: repeat(8, 1fr);
    }
    &__wrapper {
        grid-column: 3 / span 9;

    }
}
.form__field {
    padding: 1em 0 0;
    border-bottom: 1px solid $dark;
    margin-bottom: 1em;
}
.text-input {
    background-color: $background;
    width: 100%;
    border: none;
    outline: none;

    &:active {
        border: none;
    }
}
.field__button {
    display: flex;
    justify-content: flex-end;
}
.button {
    padding: 1em .5em;
    color: $light-grey;
    background-color: $dark;
}