@import 'styles/variables';
@import 'styles/breakpoints';

.home {
    display: grid;
    height: 100%;
    grid-row-gap: 0;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 2rem;
    align-content: start;
    max-width: 1366px;
    margin: 2em auto;
    @media (max-width: $desktop_xsm) {
        grid-template-columns: repeat(8, 1fr);
        margin: 2em 0 0;
    }
    &__divider {
        height: 1.5em;
        border-top: 2px solid $dark;
        border-bottom: 1px solid $dark;
        @media (min-width: $mobile) {
            grid-column: 3 / span 9;
            grid-row: 2;
            margin-top: 2em;
        }
        @media (max-width: $desktop_xsm) {
            grid-column: 1 / span 8;
            grid-row: 3;
        }
        
    }
    &__img {
        margin-bottom: 1.5em;
        width: 100%;
        grid-column: 1 / span 8;
        grid-row: 2;
        @media (min-width: $mobile) {
            grid-column: 6 / span 6;
            grid-row: 1;
            margin-bottom: 0;
        }
        
    }
}
.container {
    grid-column: 3 / span 10;
    grid-row: 1;
    @media (max-width: $desktop_xsm) {
        grid-column: 1 / span 8;
    }
    &__name {
        font-size: 1em;
        font-weight: 700;
        color: $dark-grey;
        margin-bottom: .5em;
        @media (min-width: $mobile) {  
            padding-top: 2em; 
        }
        
        
    }
    &__title {
        font-size: 2.5em;
        font-weight: 700;
        color: $dark;
        margin-bottom: .75em;
        line-height: 2.5rem;
        @media (min-width: $mobile) {
            font-size: 2.75rem;
            transform: translate3d(0, 0, 0);
        }
        @media (max-width: $desktop_xsm) {
            margin-bottom: .5em;
            font-size: 2em;
		}
    }
}